.jogo-da-velha {
  width: 540px;
  height: 400px;
  background-color: rgb(155, 238, 210);
  display: flex;
  flex-direction: column;
  border: 5px solid black;
}

.row {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.square {
  border: 1px solid black;
  width: 100%;
}
